.page-footer {
  margin-top: 140px;
  margin-bottom: 68px;

  @media ($tablet-max-width) {
    margin-top: 60px;
    margin-bottom: 56px;
  }

  @media ($mobile-max-width) {
    margin-top: 60px;
    margin-bottom: 28px;
  }
}

.page-footer__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media ($desktop-middle-width) {
    grid-template-columns: 1fr min-content 1fr;
  }

  @media ($tablet-max-width) {
    grid-template-columns: 55% 45%;
  }

  @media ($mobile-max-width) {
    display: block;
  }
}
