.price {
  margin-top: 234px;

  @media ($tablet-max-width) {
    margin-top: 0;
  }
}

.price__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 140px;

  @media ($tablet-max-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 108px;
  }

  @media ($mobile-max-width) {
    margin-bottom: 49px;
  }
}

.price__container {
  width: 306px;
  margin: auto 0;
  margin-left: 30px;

  @media ($desktop-middle-width) {
    width: 100%;
    max-width: 270px;
    margin: auto;
    padding-left: 20px;
  }

  @media ($tablet-max-width) {
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 0;
  }

  @media ($mobile-max-width) {
    margin-top: 63px;
  }
}

.price__container h2 {
  position: relative;
  font-family: inherit;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  color: $color-page-black;
  margin: 0;
  margin-top: 16px;
  padding-bottom: 18px;

  &::after {
    position: absolute;
    content: "";
    width: 175px;
    height: 3px;
    left: 0;
    bottom: 0;
    background-color: $color-decoration-orange;
  }

  @media ($tablet-max-width) {
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    margin-top: 33px;
    margin-bottom: 18px;
    padding-bottom: 0;

    &::after {
      content: none;
    }
  }

  @media ($mobile-max-width) {
    font-size: 24px;
    line-height: 36px;
  }
}

.price__container p {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: $color-page-black-opacity-07;
  margin: 29px 0 60px;


  @media ($tablet-max-width) {
    text-align: center;
    margin: 21px 0 32px;
  }

  @media ($mobile-max-width) {
    margin: 19px 0 18px;
  }
}

.price__contacts h3 {
  display: block;
  font-family: inherit;
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  color: $color-title-black;
  margin: 0;
  margin-bottom: 12px;

  @media ($desktop-middle-width) {
    text-align: start;
  }

  @media ($tablet-max-width) {
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 11px;
  }
}

.price__contacts-link a {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  text-decoration: none;

  @media ($tablet-max-width) {
    display: block;
    text-align: center;
  }
}

.price__contacts-link svg {
  fill: none;
  stroke: $color-decoration-orange;

  @media ($tablet-max-width) {
    display: none;
  }
}

.price__contacts-link span {
  display: block;
  font-family: inherit;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: $color-basic-black;
  transition: color 400ms ease-in-out;
  padding-left: 28px;

  @media ($desktop-middle-width) {
    padding-left: 5px;
  }

  @media ($tablet-max-width) {
    text-decoration: underline;
    color: $color-decoration-orange;
    font-size: 18px;
    line-height: 32px;
    padding-left: 0;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
    color: $color-decoration-orange;
  }
}
