.rate {
  margin: 0;

  @media ($tablet-max-width) {
    order: 2;
    padding-top: 40px;
    margin: 0 auto;
  }
}

.rate__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 50px;


  @media ($desktop-middle-width) {
    margin-right: 0;
  }

  @media ($tablet-max-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin: 0 50px;
  }

  @media ($mobile-max-width) {
    grid-template-columns: 1fr;
    gap: 28px;
    margin: 0;
  }
}

.rate__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $color-basic-white;
  border: 1px solid $color-page-black-opacity-03;
  transition: all 400ms ease-in-out;
  max-width: 370px;
  border-radius: 6px;
  padding: 38px 29px 29px;
  margin-right: 30px;

  @media ($desktop-middle-width) {
    max-width: 340px;
    padding: 38px 15px 29px;
    margin-right: 10px;
  }

  &:last-child {
    margin-right: 0;
  }

  @media ($tablet-max-width) {
    max-width: none;
    min-width: 288px;
    padding: 29px 0 0;
    margin: 0;
  }

  &:hover,
  &:focus {
    border: 1px solid transparent;
    box-shadow: inset 0 0 0 3px $color-decoration-orange;

    .rate__title h3 {
      color: $color-decoration-orange;
    }

    .rate__title span {
      color: $color-decoration-orange;
    }

    .rate__title p::after {
      background-color: $color-decoration-orange;
    }

    .rate__service-item::before {
      background-image: url("../img/sprite/check-mark-hover.svg");
    }
  }
}

.rate__item--complex {
  .rate__title h3 {
    letter-spacing: 0.1px;
  }

  .rate__service-item:first-child {
    margin-bottom: -9px;
  }

  .rate__service-item:last-child {
    margin-bottom: 54px;
  }

  @media ($tablet-max-width) {
    .rate__title span {
      padding-right: 0;
    }

    .rate__service-list {
      margin-top: 21px;
    }

    .rate__service-item:first-child {
      margin-bottom: -3px;
    }

    .rate__service-item:last-child {
      margin-bottom: 46px;
    }
  }

  @media ($mobile-max-width) {
    .rate__service-item:last-child {
      margin-bottom: 43px;
    }
  }
}

.rate__title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;

  @media ($tablet-max-width) {
    display: block;
    padding: 0 20px;
  }
}

.rate__title h3 {
  font-family: inherit;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -1.3px;
  color: $color-title-black-opacity-07;
  margin: 0;

  @media ($tablet-max-width) {
    font-size: 24px;
    line-height: 34px;
    text-align: center;
  }
}

.rate__title span {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
  color: $color-title-black-opacity-07;

  @media ($tablet-max-width) {
    text-align: center;
    padding-right: 13px;
    margin-top: 10px;
  }
}

.rate__item p {
  position: relative;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color-page-black;
  margin: 0;
  margin-top: 38px;
  padding-bottom: 28px;
  padding-right: 19px;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    background-color: $color-page-black-opacity-03;
  }

  @media ($tablet-max-width) {
    text-align: center;
    margin-top: 11px;
    padding: 0 20px 9px;

    &::after {
      right: 20px;
      left: 20px;
      width: 86%;
    }
  }
}

.rate__service-list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 30px;

  @media ($tablet-max-width) {
    padding: 0 20px;
    margin-top: 23px;
  }
}

.rate__service-item {
  display: block;
  position: relative;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: $color-page-black;
  padding-left: 30px;
  padding-bottom: 15px;

  &:last-child {
    padding-bottom: 0;
  }

  @media ($tablet-max-width) {
    padding-left: 28px;
    padding-bottom: 9px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 12px;
    top: 11px;
    left: 0;
    background-image: url("../img/sprite/check-mark.svg");
    transition: background-image 400ms ease-in-out;
  }

  @media ($mobile-max-width) {
    padding-bottom: 10px;

    &:last-child {
      margin-bottom: 29px;
    }
  }
}

.rate__item a {
  position: relative;
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  text-align: center;
  width: 310px;
  color: $color-basic-white;
  background-color: $color-decoration-orange;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto auto 0;

  &::after {
    position: absolute;
    content: "";
    height: 155px;
    left: -100%;
    background: transparent;
    opacity: 0.2;
    top: -50px;
    transform: rotate(35deg);
    transition: all 500ms ease-out;
    width: 10px;
    z-index: -5;
  }

  &:hover,
  &:focus {
    background-color: $color-focus-orange;

    &::after {
      background-color: $color-basic-white;
      z-index: 5;
      left: 120%;
      transition: all 500ms ease-out;
    }
  }

  &:active {
    opacity: 0.8;
  }

  @media ($tablet-max-width) {
    font-size: 10px;
    line-height: 12px;
    width: 100%;
    padding-top: 19px;
    padding-bottom: 19px;
  }
}
