.slider-toggles {
  @media ($tablet-max-width) {
    overflow-x: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.slider-toggles__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 77%;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    background-color: $color-page-black-opacity-03;
  }

  @media ($tablet-max-width) {
    flex-wrap: nowrap;
    width: 124%;
  }

  @media ($mobile-max-width) {
    width: 314%;
  }
}

.slider-toggles__item {
  display: block;


  @media ($tablet-max-width) {
    margin-right: 100px;
  }

  @media ($tablet-max-width) {
    margin-right: 100px;
  }
}

.slider-toggles__button {
  display: block;
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.4px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  color: $color-page-black-opacity-03;
  transition: color 400ms ease-in-out;
  padding: 17px 50px;
  margin: 0;

  &:first-child {
    margin-left: -50px;
  }

  &:last-child {
    margin-right: -50px;
  }

  &:hover,
  &:focus {
    color: $color-title-black-opacity-07;
  }

  &:active {
    color: $color-decoration-orange;
  }
}

.slider-toggles__button--active {
  color: $color-decoration-orange;
}
