.slider-card {
  display: grid;
  grid-template-columns: 370px 1fr;
  column-gap: 60px;

  @media ($desktop-middle-width) {
    column-gap: 30px;
  }

  @media ($tablet-max-width) {
    display: block;
  }
}

.slider-card__info {
  @media ($tablet-max-width) {
    padding: 0 21px;
  }

  @media ($mobile-max-width) {
    padding: 0 16px;
  }
}

.slider-card__info h2 {
  position: relative;
  font-family: inherit;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  letter-spacing: -1.25px;
  color: $color-page-black;
  margin: 0;
  margin-top: 73px;
  padding-bottom: 17px;

  &::after {
    position: absolute;
    content: "";
    width: 175px;
    height: 3px;
    left: 0;
    bottom: 0;
    background-color: $color-decoration-orange;
  }

  @media ($tablet-max-width) {
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.1px;
    margin-top: 30px;
    margin-bottom: 17px;
    padding-bottom: 0;

    &::after {
      content: none;
    }
  }

  @media ($mobile-max-width) {
    font-size: 24px;
    line-height: 36px;
    margin-top: 23px;
  }
}

.slider-card__info p {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.5px;
  color: $color-page-black-opacity-07;
  min-width: 374px;
  margin: 0;
  margin-top: 31px;
  margin-bottom: 49px;

  @media ($tablet-max-width) {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 19px;
  }

  @media ($mobile-max-width) {
    min-width: 288px;
  }
}

.slider-card__info a {
  position: relative;
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  width: 250px;
  text-align: center;
  color: $color-basic-white;
  background-color: $color-decoration-orange;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px;

  &::after {
    position: absolute;
    content: "";
    height: 155px;
    left: -100%;
    background: transparent;
    opacity: 0.2;
    top: -50px;
    transform: rotate(35deg);
    transition: all 500ms ease-out;
    width: 10px;
    z-index: -5;
  }

  &:hover,
  &:focus {
    background-color: $color-focus-orange;

    &::after {
      background-color: $color-basic-white;
      z-index: 5;
      left: 120%;
      transition: all 500ms ease-out;
    }
  }

  &:active {
      opacity: 0.8;
    }

  @media ($tablet-max-width) {
    font-size: 10px;
    line-height: 12px;
    margin: 0 auto;
    padding-top: 19px;
    padding-bottom: 19px;
  }

  @media ($mobile-max-width) {
    width: 288px;
  }
}

.slider-card__review-wrapper {
  display: grid;
  grid-template-columns: 430px 1fr;
  margin-top: 63px;
  margin-left: 40px;

  @media ($desktop-middle-width) {
    margin-left: auto;
    margin-right: auto;
  }

  @media ($tablet-max-width) {
    grid-template-columns: 1fr;
    margin: 0;
  }
}

.slider-card__img {
  grid-row: 1 / -1;
  grid-column: 1 / 2;

  @media ($tablet-max-width) {
    grid-column: 1/-1;
  }
}

.slider-card__img img {
  display: block;
  width: 430px;
  height: 596px;

  @media ($tablet-max-width) {
    width: 100%;
    height: auto;
    margin: 0;
    margin-top: 31px;
  }

  @media ($mobile-max-width) {
    margin: 50px auto 0;
  }
}

.slider-card__review {
  grid-row: 1 / -1;
  grid-column: 2 / 3;
  align-self: center;
  background-color: $color-basic-white;
  box-shadow: 2px 2px 2px 1px $color-page-black-opacity-01;
  width: 378px;
  min-height: 367px;
  margin-left: -112px;
  padding: 30px;

  @media ($desktop-middle-width) {
    margin-left: -200px;
    width: 100%;
    min-width: 340px;
    max-width: 360px;
  }

  @media ($tablet-max-width) {
    grid-column: 1/-1;
    background-color: $color-basic-white;
    box-shadow: none;
    width: 382px;
    margin: auto auto -31px;
  }

  @media ($mobile-max-width) {
    width: 268px;
    min-width: 0;
    min-height: 431px;
    padding: 20px;
    padding-top: 33px;
    margin-top: auto;
    margin-bottom: -65px;
  }
}

.slider-card__review h3 {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.7px;
  color: $color-page-black;
  margin: 0;
  padding-bottom: 13px;

  &::after {
    position: absolute;
    content: "";
    width: 68px;
    height: 1px;
    left: 0;
    bottom: 0;
    background-color: $color-decoration-orange;
  }

  @media ($mobile-max-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    &::after {
      right: 0;
      margin: 0 auto;
    }
  }
}

.slider-card__review p {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: $color-page-black-opacity-07;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 31px;

  @media ($mobile-max-width) {
    text-align: center;
    margin-bottom: 16px;
  }
}

.slider-card__author {
  display: flex;
  flex-wrap: wrap;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.5px;
  color: $color-page-black;

  @media ($mobile-max-width) {
    flex-direction: column;
  }
}

.slider-card__author-photo img {
  display: block;

  @media ($mobile-max-width) {
    margin: 0 auto;
  }
}

.slider-card__author span {
  display: block;
  padding-top: 10px;
  padding-left: 16px;

  @media ($mobile-max-width) {
    text-align: center;
    padding-left: 7px;
  }
}
