.container {
  margin: 0 auto;
  padding: 0 calc(50% - 585px);
}

@media ($desktop-middle-width) {
  .container {
    padding: 0 30px;
  }
}

@media ($tablet-max-width) {
  .container {
    padding: 0 21px;
  }
}

@media ($mobile-max-width) {
  .container {
    padding: 0 16px;
  }
}
