.page {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: $color-page-black;
  background-color: $color-basic-white;
  min-height: 100vh;
  min-width: $min-width;
}

.page-body::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.display-none {
  display: none;
}

.page-no-scroll {
  overflow: hidden;
}
