// Colors //

$color-title-black: #141517;
$color-page-black: #2c2e3f;
$color-basic-black: #000000;
$color-basic-white: #ffffff;
$color-decoration-orange: #fe7865;
$color-focus-orange: #f17d4b;
$color-header-open-toggle: #dadada;
$color-header-background-title-toggle: #f8f8f8;
$color-feedback-background: #f8f8f8;
$color-footer-decoration: #d7d9df;
$color-modal-input-text: #48494d;
$color-modal-background: #e5e5e5;

// Opacity //

$color-page-black-opacity-07: rgba(44, 46, 63, 0.7);
$color-page-black-opacity-03: rgba(44, 46, 63, 0.3);
$color-page-black-opacity-01: rgba(44, 46, 63, 0.1);
$color-title-black-opacity-07: rgba(20, 21, 23, 0.7);
$color-overlay-black-opacity-06:rgba(20, 21, 23, 0.6);
$color-title-black-opacity-05: rgba(20, 21, 23, 0.5);
$color-header-close-toggle-opacity-02: rgba(20, 21, 23, 0.2);
$color-basic-white-opacity-07: rgba(255, 255, 255, 0.7);
$color-basic-white-opacity-05: rgba(255, 255, 255, 0.5);
$color-background-intro-07: rgba(103, 111, 176, 0.7);
$color-feedback-shadow: rgba(41, 54, 66, 0.1);

// Container //
$min-width: 320px;
$max-width: 1920px;

$desktop-middle-width: "max-width: 1230px";
$tablet-max-width: "max-width: 1023px";
$mobile-max-width: "max-width: 767px";
